@import "../../styles/media-query.module.scss";
.home{
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    @include respond-to("md"){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__card{
    &Description{
      padding: 12px;
      p{
        &:nth-child(1){
          margin-bottom: 8px;
        }
      }
    }
  }
}